{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Polling- Get Startedddddd!</h1>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">
                    click Here TO Get Started !</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}